---
import {
  renderRichText,
  type ISbRichtext,
  type SbBlokData,
} from "@storyblok/astro";
import "../styles/style.css";
import { getTransLink } from "../utils/lang";

export interface TeaserProps extends BASIC.ImageProps{
  headline?: string;
  text?: string;
  richtext?: ISbRichtext | undefined;
}

export interface Props extends BASIC.LanguageProps {
  blok: SbBlokData & TeaserProps;
}

const { blok, language } = Astro.props;

const renderedRichText = renderRichText(blok.richtext);
---

<div class="stage-content">
  <div class="stage">
    <img src={blok.image?.filename} />
    <h1>{blok.headline}</h1>
    <p>{blok.text}</p>
    <p set:html={renderedRichText} />
  </div>
  <div class="btn-back"><a href={getTransLink(language, "/")}>Back</a></div>
</div>

<style>
  .stage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 50px;
    margin: auto;
    height: auto;
    background-color: var(--off-white);

    .stage {
      max-width: 1200px;
    }

    .btn-back {
      margin-top: 40px;
    }
    .btn-back a {
      background-color: var(--soft-red);
      color: var(--very-dark-blue);
      padding: 14px 27px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-weight: var(--fw-semi-bold);
      text-decoration: none;
    }

    .btn-back a:hover {
      background-color: var(--very-dark-blue);
      color: var(--off-white);
    }
  }
</style>
