---
import '../../../../css/style.css'
import { useStoryblokApi } from '@storyblok/astro'
import type { BASIC } from '../../../../types/BASIC'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get(`cdn/stories/globals/f2footer`, {
  version:
    (import.meta.env.STORYBLOK_IS_PREVIEW || process.env.STORYBLOK_IS_PREVIEW) === 'yes'
      ? 'draft'
      : 'published',
})

const footerNavigation: BASIC.GlobalProps = data.story.content
---

<footer class="footer">
  <div class="footer-navigation">
    <p>{footerNavigation.copyright}</p>
    <nav class="footer-nav">
      {
        footerNavigation.Navigation?.map((item: BASIC.NavigationItems) => (
          <a href={item.link.cached_url}>{item.title}</a>
        ))
      }
    </nav>
  </div>
</footer>

<style>
  .footer {
    margin-top: auto;
  }

  .footer-navigation {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 1rem 2rem;
    text-align: center;
    justify-content: center;
  }

  .footer-nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-nav a {
    color: var(--soft-orange);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
  }

  .footer-nav a:hover {
    color: var(--soft-red);
  }

  @media screen and (max-width: 480px) {
    .footer {
      padding: 10px 0;
    }

    .footer-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin-top: 1rem;
      gap: 1rem;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
      padding-top: 25px;
    }
  }

  @media screen and (min-width: 1025px) {
    .footer {
      padding-top: 50px;
    }
  }
</style>
