---
export interface ButtonProps {
  label: string;
  link?: {
    cached_url: string;
  };
  target?: "_self" | "_blank";
  type?: "primary";
}

const { label, link, target, type } = Astro.props;
---

<a
  class=`btn-${type}`
  href={target === "_blank" ? link?.cached_url : link}
  target={target}
  ><p>{label}</p>
</a>

<style>
  a {
    background-color: var(--soft-red);
    color: var(--very-dark-blue);
    padding: 14px 27px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: var(--fw-semi-bold);
    text-decoration: none;
  }

  a:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
  }
</style>
