---
import Header from "../components/Header.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>News Homepage</title>
	</head>
		<main>
			<Header />
			<slot />
		</main>
	</body>
</html>

<style>
	main {
  		margin: auto;
  		max-width: 1440px;
  		height: auto;
  		padding: 50px;
  		font-weight: var(--fw-regular);
		}
		@media screen and (max-width:475px) {
	main {
    align-content: center;
    max-width: 376px;
    padding: 15px;
  }
		}
</style>